# Compiled source
__pycache__
.idea
.vscode
.venv

# Temporary files
_sim_temp
temp
*.old.*

# Sensitive files
amap_key.txt
flocale/lang.txt

# Logs
*.log
*results*
profiling
perf*

# Cases
*.veh.xml*
*.bat
*.bak
deploy
cases/*
!cases/std_*
!cases/pwe_*

# Setup files
build
dist
*.egg-info